/*

Name: Leonardo Jose Ambrosio
Student Number: 200657215
Date: 5/21/2026
Time: 11:16PM

Description: The goal of this site is to create a reference for meditation. 
Yellow refers to gold and illumination. 
The background features a sakura motif, referencing Buddhism. 
The red color of the sidebar is a reference to traditional temple colors.
The sidebar effect is a reference to the temple scrolls.

*/
/* Import fonts from Google Fonts */
/* Arima Madurai */
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&display=swap');
/*Architects Daughter */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* Variables*/
:root{
	/* FONTS */
	--font-Arima-Madurai: 'Arima Madurai', serif;
	--font-Architects-Daughter: 'Architects Daughter', sans-serif;

	--font-size-base: clamp(0.8rem, 2vw, 1rem);
	
	/* COLORS */
	--h1-header-text-color: #4a0d0d;
	--h1-webkit-text-stoke: 0.15rem #ff800033; /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke*/
	--header-bg-color: radial-gradient(circle at center top, #eeea84 0%, #fff894d4 100%);
	
	--article-bg-color: linear-gradient(to right, #fdf0d5eb, #dddad1dd);
	
	--sidebar-bg-color: radial-gradient(circle at center top, #DC1B27 0%, #602628 100%);
	--sidebar-second-bg-color: #c64246;
	--sidebar-h3-color: #FFFFFF;
	--sidebar-h3-hover-color: #f8f9e2;
	--sidebar-text-color: rgb(32, 32, 30);

	/* spacing */
	--article-padding: 1rem;
    --article-margin: 0.5rem;
    
    --p-padding: 0.3rem;

}

/* basic elements */
/* Clears browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
	font-family: var(--font-Arima-Madurai);
	font-size:var(--font-size-base) ;
}

body{
	background: linear-gradient(to right, #fbe195cb, #ffb8b895), url('./assets/sakura.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/* LAYOUT */
.page-wrapper{
	/* display*/
	display: grid;
	grid-template-areas: "header header"
						"sidebar main";
}

/* HEADER */
/* Section header and and div class = "summary"  */
/* Manipulating .intro header until .intro .summary*/
.intro{
	grid-area: header;
}

.intro header, .summary{
	background: var(--header-bg-color);
	padding: 0.5rem;

}

.summary{
	padding-left: clamp(calc(200px + 1rem), 22vw, calc(260px + 2rem));
}

/* Manipulating h1, h2 and h3 */
.intro h1{
	font-size: clamp(2rem, 4vw, 3.5rem);
	font-family: var(--font-Arima-Madurai);
	margin-left: clamp(calc(200px + 1rem), 22vw, calc(260px + 2rem));
	color: var(--h1-header-text-color);
	-webkit-text-stroke: var(--h1-webkit-text-stoke); /* reference: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
}

.intro h2{
	font-size: clamp(1.3rem, 3vw, 2.2rem);
	font-family: var(--font-Architects-Daughter);
	margin-left: clamp(calc(200px + 1rem), 22vw, calc(260px + 2rem));
	margin-right: 0;
	color: var(--h1-header-text-color);
	-webkit-text-stroke: var(--h1-webkit-text-stoke);/* reference: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
}

h3{
font-family: var(--font-Architects-Daughter);
font-size: clamp(1rem, 3vw, 1.3rem)
}

header abbr[title="Cascading Style Sheets"]{
	font-size: clamp(1.5rem, 3vw, 2.4rem);
}

/* MAIN */
/* .preamble and .main background */
.preamble, .main{
background: var(--article-bg-color);
margin-right: 1.5rem;
border-left: solid clamp(0.3em,2vw,1em);
border-right: solid 0.5em ;
border-color: #602628
}

.preamble {
	text-align: center;
	padding: var(--article-padding);
	border-top: solid 0.5em ;
	border-color: #602628
}

.explanation, .participation, .benefits, .requirements{
	padding: var(--article-padding);
	margin-left: var(--article-margin);
	margin-right: var(--article-margin);
}

p{
	padding: var(--p-padding);
}

/* SIDEBAR */
.sidebar {
	grid-area: sidebar;
	background: var(--sidebar-bg-color);
	max-height: 550px;
	max-width: 320px;
	}


.design-selection, .design-archives, .zen-resources{
background: var(--sidebar-second-bg-color);
margin: 1rem;
padding: 0.5rem;
}

.sidebar h3{
	text-align: center;
	color: var(--sidebar-h3-color);
}

.sidebar h3:hover{
	text-align: center;
	color: var(--sidebar-h3-hover-color);
}


ul li a{
	list-style-type: none;
	text-decoration: none;
	font-family: var(--font-Architects-Daughter);
	font-weight: bold;
	color: var(--sidebar-text-color);
	padding: var(--p-padding);	
 }

 ul li a:hover{
	color: var(--h1-header-text-color);
	text-decoration: underline;
	text-decoration-thickness: 2px;
 }



:is(.design-selection, .design-archives, .zen-resources) :is(nav,ul){
	background: linear-gradient(to bottom, rgba(241, 241, 177, 0.918), rgba(247, 233, 148, 0.738));
	max-height: 0;
	overflow: hidden;
	padding: 0.3rem;
	transition: max-height 0.8s cubic-bezier(0.25, 1, 0.5, 1) /* cubic-bezier calculated by AI*/;
	
}

  :is(.design-selection, .design-archives, .zen-resources):hover :is(nav,ul),
  :is(.design-selection, .design-archives, .zen-resources):focus-within :is(nav,ul){
	max-height: 500px;
 }



/* FOOTER */
footer{
	display: grid;
	grid-template-columns: repeat(3, clamp(150px, 3vw, 300px));
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	background:var(--header-bg-color);
	text-align: center;
	padding: 1rem;
}

footer a{
	font-family: var(--font-Arima-Madurai);
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	color: black;
	text-shadow: 1px 1px 3px rgb(128, 128, 128);
}

footer a:hover{
	color: var(--h1-header-text-color);
	text-decoration: underline;
	text-shadow: 1px 1px 3px rgb(111, 110, 110);
}

/* DIV EXTRA */
/* Meditating Frog */
.extra1 {
	position: absolute;
	margin-right: 10px;
	background-image: url('./assets/frog-meditation.png')/* Image generated by AI*/; 
	background-repeat: no-repeat;
	background-size: 400% 220%;
	background-position: 0%;
	top: 10px;
	left: 10px; 
	width: clamp(200px, 20vw, 260px);
	height: clamp(160px, 22vw, 220px);
	border-radius: 50%; /* Makes the container a circle */
	animation: 
				frogMeditationChangeImagePosition 16s steps(4) infinite,
				frogMeditationSoftTransition 4s ease-in-out infinite;
	}

	
	/* Frog animation - the evolution during his meditation */

/* control opacity during image transition*/
@keyframes frogMeditationSoftTransition{
		0%,2%{opacity: 0.09;}
		3%,8%{opacity: 0.18;}
		9%,12%{opacity: 0.3;}
		13%, 88%{opacity: 1;}
		89%,90%{opacity: 0.3;}
		91%,97%{opacity: 0.18;}
		98%,100%{opacity: 0.09;}
}

/* manipulating image transition */
@keyframes frogMeditationChangeImagePosition{
	from{background-position: 0%;}
	to{background-position: 133%;}
}
	

/* RESPONSIVE MEDIA*/
@media (max-width: 800px){
	/* Resposive Layout - .page-wrapper */
	.page-wrapper{
	/* display*/
	display: grid;
	grid-template-areas: "header"
						"sidebar"
						"main";
}

	/* Resposive sidebar*/

	.sidebar{
		max-width: 100%;
		padding: 0;
		margin: 0;
	}

	.design-selection, .design-archives, .zen-resources{
	background: var(--sidebar-second-bg-color);
	margin: 0.2rem;
	padding: 0.5rem;
}

/* Responsive Main */
.preamble, .main{
	margin-right: 0;
}

}