body{
margin: 0;
}

/* HEADER*/
.nav-container{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.nav-container{

}

.top-navigation{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* MAIN */
.product-container{
    display: grid;
    grid-template-columns: repeat(3, clamp(150px, 3vw, 300px));
    justify-content: space-around;
    margin: 30px;
}

.product-card{
 width: 300px;
 height: 300px;
}

.product-card-image{
    width: 90%;
    height: 90%;
}

.product-card-image img{
    width: 90%;
    height: 90%;
}

/* FOOTER */
.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
}

.contact-fieldset{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid blue;
}